/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background-image: linear-gradient(
        180deg,
        #009588 0px,
        #009588 15%,
        #dadbd5 15%,
        #dadbd5 100%
    );
}


/* Utilities */
.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.float {
    float: left;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
/* App styles */
.app {
    width: 80%;
    height: 95%;
    min-width: 800px;
    background: #fff;

}

/* Side list style */
.side-list {
    width: 30%;
    height: 100%;
    background: #ccc;
}

/* Side Header */
.side-header {
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: #eaeaea;
    padding: 0 10px;
}

.avatar {
    width: 50px;
    height: auto;
    border-radius: 50%;

}

.icons i{
    padding: 0 5px;
    color: #aaa;
}

/* Side options */
.alerts {
    align-items: center;
    height: 70px;
    background: #8edafd;
}

.alerts .icons{
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #f2fbff;
    border-radius: 50%;
    margin: 0 20px;
}

.alerts .icons i {
    color: #8edafd;
}

.alerts span {
    line-height: 25px;
}
.alerts span.underline {
    text-decoration: underline;
}
/* Chat window style */
.chat-window {
    width: 70%;
    height: 100%;
    background: #666;
}

.chat-header {
    height: 60px;
    background: #555;
}

.chat-main {
    flex-grow: 1;
}

.chat-footer {
    height: 60px;
    background: #555;
}
